<div class="container">
  <form action="/teachers" id='teacher' method="post">
      <input type="text" id="foobar" placeholder='name' name='name'/>
      <input type="submit" value="Add Teacher Name"/>
  </form>
</div>
